<a class="mt-4" href="javascript:;" onclick="$('#accountDeactivateForm').toggle()">
    {{ 'Deactivate account' | _ }}
</a>

<div class="alerts">
    {% flash %}
    <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
    {% endflash %}
</div>

<div id="accountDeactivateForm" style="display: none">
    {{ form_ajax('onDeactivate') }}
    <hr/>
    <h3>{{ 'Deactivate your account?' | _ }}</h3>
    <p>
        {{ 'Your account will be disabled and your details removed from the site. You can reactivate your account any time by signing back in.' | _ }}
    </p>
    <div class="form-group">
        <label for="accountDeletePassword">{{ 'To continue, please enter your password:' | _ }}</label>
        <input name="password" type="password" class="form-control" id="accountDeletePassword"/>
    </div>
    <button type="submit" class="btn btn-danger">
        {{ 'Confirm Deactivate Account' | _ }}
    </button>
    <a class="ml-0 ml-md-4" href="javascript:;" onclick="$('#accountDeactivateForm').toggle()">
        {{ 'I changed my mind' | _ }}
    </a>
    {{ form_close() }}
</div>
