<div class="row">
    <div class="col-12 col-md-8">
        <h3 class="hr">
            <span class="hr__line"></span>
            <span class="hr__text">{{ 'My Account' | _ }}</span>
        </h3>

        <div class="alerts">
            {% flash %}
            <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            {% endflash %}
        </div>

        {{ form_ajax('onAccountUpdate', { model: user }) }}

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            {{ form_hidden('notification_incident', 0) }}
                            {{ form_checkbox('notification_incident', true, user.notification_incident, {'class' : 'form-check-input'}) }}
                            {{ 'Notify me of updates to incidents I have reported.' | _ }}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    {{ form_label('name', 'First Name' | _) }}
                    {{ form_text('name', user.name, {'class' : 'form-control', 'autocomplete' : 'off', 'required' : true}) }}
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    {{ form_label('surname', 'Last Name' | _) }}
                    {{ form_text('surname', user.surname, {'class' : 'form-control', 'autocomplete' : 'off', 'required': true}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    {{ form_label('account_username', 'Username' | _) }}
                    {{ form_text('account_username', user.username, {'class' : 'form-control', 'autocomplete' : 'off'}) }}
                    <p class="small">{{ 'Your username is visible to other users on the site.' | _ }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    {{ form_label('account_email', 'Email' | _) }}
                    {{ form_email('account_email', user.email, {'class' : 'form-control', 'autocomplete' : 'off'}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="accountPassword">{{ 'New Password' | _ }}</label>
                    <input name="password" type="password" class="form-control" id="accountPassword"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="accountPasswordConfirm">{{ 'Confirm New Password' | _ }}</label>
                    <input name="password_confirmation" type="password" class="form-control"
                           id="accountPasswordConfirm">
                </div>
            </div>
        </div>

        <button class="btn btn-default">{{ 'Update' | _ }}</button>
        <a class="ml-0 ml-md-4" href="{{ 'user/deactivate' | page }}" >
            {{ 'Deactivate account' | _ }}
        </a>

        {{ form_close() }}

    </div>
</div>

{% put scripts %}
<script>
    $(window).on('ajaxErrorMessage', function (event, message) {
        event.preventDefault();

        $('.alerts').html('<div class="alert alert-danger" role="alert">' + message + '</div>');
    });
</script>
{% endput %}