<h3 class="hr">
    <span class="hr__line"></span>
    <span class="hr__text">{{ 'Password Reset' | _ }}</span>
</h3>

<div id="partialUserResetForm">

    <div class="alerts"></div>

    <form data-request="{{ __SELF__ }}::onRestorePassword"
          data-request-update="'{{ __SELF__ }}::restoreComplete': '#partialUserResetForm'">

        <div class="form-group">
            <label for="userRestoreEmail">{{ 'Email' | _ }}</label>
            <input required name="email" type="email" class="form-control" id="userRestoreEmail"
                   placeholder="{{ 'Enter your email' | _ }}">
        </div>

        <button class="btn btn-default">{{ 'Submit' | _ }}</button>
    </form>
</div>

{% put scripts %}
<script>
    $(window).on('ajaxErrorMessage', function (event, message) {
        event.preventDefault();

        $('.alerts').html('<div class="alert alert-danger" role="alert">' + message + '</div>');
    });
</script>
{% endput %}