@import "../variables";
@import "rem";

.report-chart {

  .axis {
    line {
      stroke: $dusty-gray;
    }
    text {
      fill: $dusty-gray;
    }
  }

  .base_line {
    stroke: $dusty-gray;
    fill: $dusty-gray;
  }

}