@import "../variables";
@import "rem";

.report-chart {
  position: relative;
}

.report-chart-svg {
  width: 100%;
  height: 350px;

  .axis {

    .domain {
      stroke: $dusty-gray;
      shape-rendering: crispedges;
    }

    .tick {
      line {
        stroke: $dusty-gray;
        shape-rendering: crispedges;
      }
    }

    text {
      fill: $dusty-gray;
    }
  }

  .line {

    &.line--incident {
      stroke: $red;
    }

    &.line--intervention {
      fill: $green;
    }

  }

  .circle {
    cursor: pointer;
    fill: $white;
    transition: transform 0.5s, fill 0.5s;
    transform-origin: 50% 50%;

    &.circle--incident {
      stroke: $red;

      &:hover {
        fill: $red;
      }
    }

    &.circle--intervention {
      stroke: $green;

      &:hover {
        fill: $green;
      }
    }

    &:hover {
      transform: scale(2);
    }
  }

}

.report-common-circle-svg {
  width: 100%;
  height: 400px;

  .bubbles {
    .bubble {
      cursor: pointer;
    }
  }
}

.report-chart-html {

  .chart-title {
    color: $tundora;
    position: absolute;
    font-weight: $light;

    @include oswald();
    @include rem((font-size: 20px, top: 20px, left: 10px));

    .common-reports & {
      position: static;
    }
  }

  .chart-y-label {
    color: $dusty-gray;
    position: absolute;
    font-weight: $light;

    @include oswald();
    @include rem((font-size: 13px, top: 65px, left: 10px, width: 90px));
  }

  .buttons {
    position: absolute;

    @include oswald();
    @include rem((font-size: 14px, top: 20px, left: 250px));

    @include media-breakpoint-down(md) {
      @include rem((top: 60px, left: auto, right: 0px));
    }

    @include media-breakpoint-down(sm) {
      @include rem((top: 20px));
    }

    .filter {
      color: $tundora;
      text-transform: uppercase;
      transition: all 0.3s;

      @include rem((margin-right: 30px));

      @include media-breakpoint-down(md) {
        @include rem((margin: 0 0 0 30px));
      }

      @include media-breakpoint-down(sm) {
        @include rem((margin: 0 0 0 15px));
      }

      &:hover {
        color: $green;
      }

      &.active {
        color: $green;
        text-decoration: underline;
      }
    }
  }

}

.chart-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  @include rem((margin-top: 30px));

  .title {
    font-weight: $normal;
    flex: 1;
    align-self: flex-end;

    @include oswald();
    @include rem((font-size: 14px));
  }

  .report-common-line-svg {
    height: 50px;
    width: 300px;
    overflow: visible;
    transition: background-color 0.3s;

    @include media-breakpoint-down(sm) {
      width: 200px;
    }

    &:hover {
      background-color: $light-gray;
    }

    .line {
      stroke: $red;
    }

    .axis {
      .domain {
        stroke: $dusty-gray;
      }
    }
  }
}