@import "../variables";
@import "rem";

.content-block {
  @include merriweather();

  h4 {
    padding: 0;
  }

  p {
    color: $black;

    @include rem((padding: 16px 0 0, margin: 0));
  }

  &.footer-about {
    p {
      color: $white;
    }
  }

  &.register-terms {
    p {
      @include rem((padding: 0 0 16px));
    }
  }

}