@import '../variables';

.footer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  background-color: $tundora;
  color: $white;

  @include rem((padding: 30px 0 40px, margin: 20px 0 0));

  .footer-contact {
    border-top: 1px solid $green;
    color: $white;

    @include rem((padding: 40px 0 0));

    .contact__link {
      color: #fff;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }

    .footer-nav {
      display: inline;
      list-style: none;

      font-family: $merriweather;

      @include rem((font-size: 14px, padding-left: 10px));

      li {
        display: inline;

        @include rem((margin-left: 20px));

        a {
          color: $dusty-gray;
          text-decoration: underline;

          &:hover {
            color: $dusty-gray;
          }
        }
      }
    }
  }

  .social-links {
    @include media-breakpoint-up(md) {
      float: right;

      .ar & {
        float: left;
      }
    }
  }

  .social {
    display: inline-block;
    height: 31px;
    width: 31px;

    @include rem((margin-left: 10px));
  }
}