@import '../variables';
@import "rem";

.header {

  .header__bar {
    background-color: $green;

    @include rem((padding: 8px 0));

    .user-menu {
      float: right;

      .ar & {
        float: left;
      }
    }

    .dropdown-menu {
      padding: 0;

      li {
        @include rem((padding: 5px));

        a {
          color: $tundora;
          display: block;
        }
      }
    }

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  .navbar {

    .navbar-brand {
      @include rem((padding: 20px 0));

      .site-logo {
        @include rem((width: 200px));

        @include media-breakpoint-up(md) {
          @include rem((width: 300px));
        }

        @include media-breakpoint-up(lg) {
          @include rem((width: 400px));
        }
      }
    }
  }

  .nav {
    font-family: $oswald;

    @include rem((font-size: 16px));

    > .nav-item {
      border: 1px solid $white;
      cursor: pointer;
      text-transform: uppercase;

      @include rem((padding: 10px 0));

      a {
        @include rem((padding: 0 15px));
      }

      &:hover {
        a {
          color: $green;
        }
      }

      &.dropdown:hover {
        @include media-breakpoint-up(md) {
          border: 1px solid $green;
          border-bottom: none;

          .dropdown-menu {
            display: block;
          }
        }
      }
    }

    .border-block {
      background: $white;
      position: absolute;
      top: 100%;
      left: 0;
      height: 1px;
      width: 100%;
      z-index: 1001;
    }

    .dropdown-menu {
      border: 1px solid $green;
      margin: 0 0 0 -1px;
      z-index: 1000;

      @include rem((padding: 5px 20px 5px 10px));

      a {
        color: $green;
        padding: 0;

        &:hover {
          color: $black;
        }
      }

      .nav-item {
        text-transform: capitalize;

        border-bottom: 1px solid $dusty-gray;

        &:last-child {
          border-bottom: none;
        }

        @include rem((padding: 5px 0, font-size: 15px));
      }
    }

    a {
      color: $black;

      &:hover {
        color: $green;
      }
    }
  }

}
