@import '../variables';
@import "rem";

.header {

  .header__bar {
    background-color: $green;

    @include rem((padding: 8px 0));

    .dropdown-menu {
      padding: 0;

      li {
        @include rem((padding: 5px));

        a {
          color: $tundora;
          display: block;
        }
      }
    }

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  .navbar {

    .navbar-brand {
      @include rem((padding: 20px 0));

      .site-logo {
        width: 400px;
      }
    }
  }

  .nav {
    font-family: $oswald;
    text-transform: uppercase;

    .nav-item {
      @include rem((padding: 0 15px));
    }

    a {
      color: $black;

      &:hover {
        color: $green;
      }
    }
  }

}
