@import "../variables";
@import "rem";

.news-posts {

  time {
    display: block;
    font-family: $oswald;

    @include rem((font-size: 14px));
  }

  p {
    padding: 10px 0;
    font-family: $merriweather;

    @include rem((font-size: 14px));
  }

  .img-fluid {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: auto;
    }
  }

}

.news-post {

  .news-post__image {
    width: 100%;

    img {
      width: 100%;
    }

    @include media-breakpoint-up(md) {
      width: auto;
      float: right;

      @include rem((padding: 0 0 10px 10px));

      .ar & {
        float: left;

        @include rem((padding: 0 10px 10px 0));
      }
    }
  }

}