@import "../variables";
@import "rem";

.news-posts {

  time {
    display: block;
    font-family: $oswald;

    @include rem((font-size: 14px));
  }

  p {
    padding: 10px 0;
    font-family: $merriweather;

    @include rem((font-size: 14px));
  }

}

.news-post__image {
  float: right;

  @include rem((padding: 0 0 10px 10px));
  
  .ar & {
    float: left;

    @include rem((padding: 0 10px 10px 0));
  }
}