@import "../variables";
@import "rem";

.report-map {

  h3 {
    font-family: $oswald;
    font-weight: $light;

    @include rem((font-size: 20px, padding: 20px 0));
  }

  .controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    @include rem((padding: 20px 15px 0 0));

    .control {
      border: 1px solid $alto;
      background-color: $white;
      color: $dusty-gray;
      font-family: $oswald;
      position: relative;
      text-transform: uppercase;

      @include rem((font-size: 14px, padding: 5px 25px 5px 50px, margin-left: 15px));

      &.active {
        background-color: $tundora;
        color: $white;
      }

      .icon {
        background: no-repeat center center;
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 20px;

        @include rem((left: 20px));
      }
    }

    .control--map {

      .icon {
        background-image: url('/themes/harassmap/assets/img/map/map.svg');
      }

      &.active .icon {
        background-image: url('/themes/harassmap/assets/img/map/map-active.svg');
      }
    }

    .control--chart {

      .icon {
        background-image: url('/themes/harassmap/assets/img/map/chart.svg');
      }

      &.active .icon {
        background-image: url('/themes/harassmap/assets/img/map/chart-active.svg');
      }
    }

    .control--table {

      .icon {
        background-image: url('/themes/harassmap/assets/img/map/table.svg');
      }

      &.active .icon {
        background-image: url('/themes/harassmap/assets/img/map/table-active.svg');
      }
    }
  }

  .toolbar {
    position: relative;

    .legend--container {
      border-top: 1px solid $dusty-gray;
      border-bottom: 1px solid $dusty-gray;
      position: relative;

      @include rem((padding: 8px 0));
    }

    .legend {
      float: left;
      overflow: hidden;

      @include media-breakpoint-up(sm) {
        @include rem((margin: 0 0 0 40px));
      }

      .key {
        display: block;
        float: left;
        font-family: $oswald;
        position: relative;

        @include rem((font-size: 16px, padding: 9px 40px 9px 0, letter-spacing: 1px));

        @include media-breakpoint-down(sm) {
          @include rem((font-size: 12px, padding: 9px 10px 9px 0));
        }

        .icon {
          background: no-repeat center center;
          background-size: 100% 100%;
          display: block;
          float: left;

          @include rem((margin-right: 10px, height: 24px, width: 24px));

          @include media-breakpoint-down(sm) {
            @include rem((height: 18px, width: 18px));
          }
        }
      }

      .key--incident .icon {
        background-image: url('/themes/harassmap/assets/img/map/incident.svg');
      }

      .key--intervention .icon {
        background-image: url('/themes/harassmap/assets/img/map/intervention.svg');
      }
    }

    .container--filter {
      display: none;
      overflow: hidden;
    }

    .filter {
      background-color: $white;
      border: 1px solid $dusty-gray;
      border-bottom: none;

      @include media-breakpoint-up(md) {
        float: right;
        width: 75%;
      }

      @include rem((padding: 8px));
    }
  }

  .banner--map {
    position: relative;

    &.full-screen {
      height: 100%;
      width: 100%;

      .map {
        height: 100%;
        width: 100%;
      }
    }

    .legend--container {
      background-color: rgba(255, 255, 255, 0.8);
    }

    .toolbar {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}