<div class="rainlab-forum">

    {% flash %}
    <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
    {% endflash %}

    {% if topic %}

        <div class="row">
            <div class="col-12">

                {% partial "@posts" %}

                {% partial "@pagination" %}

                <h4>{{ 'Reply to this discussion' | _ }}</h4>

                {% if not topic.canPost %}
                    <p>
                        {{ 'You cannot edit posts or make replies:' | _ }}
                        {% if not member %}{{ 'You should be logged in before you can post.' | _ }}{% endif %}
                        {% if member.is_banned %}{{ 'Your account is banned.' | _ }}{% endif %}
                        {% if topic.is_locked %}{{ 'Comments are locked' | _ }}{% endif %}
                    </p>
                {% else %}
                    {% partial "@postform" %}
                {% endif %}

            </div>
        </div>

    {% elseif channel %}

        <h4>{{ 'Create a new discussion topic' | _ }}</h4>
        {% partial "@createform" %}

    {% else %}

        <p>{{ 'Topic not found' | _ }}</p>

    {% endif %}
</div>