<div class="row">
    <div class="col-12 col-md-9">

        <h3 class="hr">
            <span class="hr__line"></span>
            <span class="hr__text">{{ 'Login' | _ }}</span>
        </h3>

        <div class="alerts">
            {% flash %}
            <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            {% endflash %}
        </div>

        <form id="signin" data-request="onSignin">
            <div class="form-group">
                <label for="userSigninLogin">{{ 'Email' | _ }}</label>
                <input name="login" type="text" class="form-control" id="userSigninLogin"
                       required placeholder="{{ 'Enter your email' | _ }}"/>
            </div>

            <div class="form-group">
                <label for="userSigninPassword">{{ 'Password' | _ }}</label>
                <input name="password" type="password" class="form-control" id="userSigninPassword"
                       required placeholder="{{ 'Enter your password' | _ }}"/>
            </div>

            <button class="btn btn-default mt-4 mt-sm-0">{{ 'Login' | _ }}</button>
            <a class="btn btn-default mt-4 mt-sm-0" href="{{ 'security/register' | page }}">{{ 'I don\'t have an account' | _ }}</a>
        </form>

    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <a href="{{ 'security/password-reset' | page }}">{{ 'Forgot password?' | _ }}</a>
    </div>
</div>

{% put scripts %}
<script>
    $('#signin').on('submit', function () {
        $('.alerts').html('');
    });

    $(window).on('ajaxErrorMessage', function (event, message) {
        event.preventDefault();

        $('.alerts').html('<div class="alert alert-danger" role="alert">{{ 'A user was not found with the given credentials.' | _ }}</div>');
    });
</script>
{% endput %}