@import '../variables';
@import "rem";

.table {

  th {
    font-family: $oswald;
    font-weight: $light;

    @include rem((font-size: 20px));
  }

  td {
    font-family: $merriweather;
    font-weight: $light;

    @include rem((font-size: 14px));
  }

}