@import '../variables';
@import "rem";

.table {

  thead {
    background-color: $light-gray;
  }

  th {
    font-family: $oswald;
    font-weight: $light;

    @include rem((font-size: 20px));
  }

  td {
    font-family: $merriweather;
    font-weight: $light;

    @include rem((font-size: 14px));
  }

  .type {

    .icon {
      background: no-repeat center center;
      display: block;
      height: 25px;
      width: 25px;
      margin: auto;
    }

    .icon--intervention {
      background-image: url('/themes/harassmap/assets/img/map/intervention.svg');
    }

    .icon--incident {
      background-image: url('/themes/harassmap/assets/img/map/incident.svg');
    }

  }

}