@import '../variables';
@import "rem";

.bg--drop {
  @include media-breakpoint-up(lg) {
    background: url('/themes/harassmap/assets/img/home/drop.png') no-repeat center right;
    min-height: 300px;

    .ar & {
      background-position: center left;
    }
  }

  p {
    color: $white;
    font-family: $merriweather;

    @include rem((font-size: 14px, padding: 0 0 30px, margin: 0));
  }
}