@import '../variables';
@import "rem";

.report {

  .assistance {
    overflow: hidden;
  }

  input, select, textarea, .form-check-label {
    color: $tundora;
    font-family: $oswald;
    font-weight: $light;
  }

  .instructions--geolocate {
    display: none;
  }

}