@import '../variables';
@import "rem";

.report {

  .assistance {
    overflow: hidden;
  }

  input, select, textarea, .form-check-label {
    color: $tundora;
    font-family: $oswald;
    font-weight: $light;
    letter-spacing: 1px;
  }

  .instructions {
    color: $red;
    display: none;
    font-weight: $bold;

    @include rem((padding: 0 0 30px));
  }

  &.report--intervention {
    .instructions {
      color: $green;
    }
  }

  #date {
    background: url('/themes/harassmap/assets/img/icons/date.svg') no-repeat right center;
  }

  #time {
    background: url('/themes/harassmap/assets/img/icons/time.svg') no-repeat right center;
  }

}