@import '../variables';
@import "rem";

.report {

  .assistance {
    overflow: hidden;
  }

  input, select, textarea, .form-check-label {
    color: $tundora;
    font-family: $oswald;
    font-weight: $light;
  }

  label {
    font-family: $merriweather;
    font-weight: $light;

    @include rem((font-size: 14px));
  }

}