@import '../variables';
@import "rem";

.report-view {

  .location {
    .ar & {
      float: right;

      @include rem((padding: 0 0 0 10px));
    }
  }
  .latlng {
    .location {
      .ar & {
        float: right;
      }
    }
  }

  .categories {
    overflow: hidden;

    .category {
      color: $dusty-gray;
      border: 1px solid $dusty-gray;
      font-family: $oswald;
      float: left;

      @include rem((font-size: 14px, padding: 5px 10px, margin: 0 5px 0 0));
    }

    .category--title {
      border: 0;
      color: $black;

      @include rem((padding: 5px 10px 5px 0));
    }

  }

  .comments {

    .comment__meta {
      time {
        @include rem((font-size: 13px));
      }
    }

    .comment__content {
      p {
        @include rem((padding: 10px 0));
      }
    }

    .flag {
      text-decoration: underline;

      @include rem((font-size: 14px));
    }

  }

  .tick {
    background: url('/themes/harassmap/assets/img/done.svg') no-repeat left center;

    @include rem((padding-left: 30px));
  }

}