@import '../variables';
@import "rem";

.report-view {

  .category {
    color: $dusty-gray;
    border: 1px solid $dusty-gray;
    font-family: $oswald;

    @include rem((font-size: 14px, padding: 5px 10px, margin: 0 5px 0 0));
  }

  .category--title {
    border: 0;
    color: $black;

    @include rem((padding: 5px 10px 5px 0));
  }

  .unverified {
    text-align: center;

    @include rem((font-size: 20px));
  }

  .comments {

    .text {
      p {
        @include rem((padding: 10px 0));
      }
    }

  }

}