@import '../variables';
@import "rem";

.static-content {

  .site-content {

    img {
      max-width: 100%;
      height: auto;

      &.img--full {
        width: 100% !important;
      }
    }

    a {
      text-decoration: underline;

      &.btn {
        text-decoration: none;
        white-space: normal;
      }
    }

    .fr-video {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      display: block;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;;
      }
    }
  }

  .btn {
    @include rem((margin-right: 10px));

    @include media-breakpoint-down(md) {
      @include rem((margin-top: 10px));
    }
  }

}