@import '../variables';
@import "rem";

.express-support {

  .inset {
    background-color: $light-gray;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    position: relative;

    @include rem((padding: 20px 20px 20px 90px));

    .icon {
      background: url('/themes/harassmap/assets/img/icons/droplet.svg') no-repeat center center;
      background-size: 60% auto;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      @include rem((width: 90px));
    }
  }

  .social-message {
    color: $tundora;
    border: 1px solid $dusty-gray;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    font-family: $oswald;
    font-weight: $light;

    @include rem((font-size: 13px));
  }

  .share {
    background-size: auto 100%;
    background-position: center left;
    background-repeat: no-repeat;

    @include rem((padding: 8px 20px 8px 60px));
  }

  .share--facebook {
    background-image: url('/themes/harassmap/assets/img/support/facebook.svg');
  }

  .share--twitter {
    background-image: url('/themes/harassmap/assets/img/support/twitter.svg');
  }

}