{% if parentNode and parentNode.getChildCount %}
    <ul class="{{ primaryClasses }}">
        {% for primaryNav in parentNode.getChildren %}
            {% if primaryNav.enabled %}
                {% if primaryNav.getChildCount and numberOfLevels > 1 %}
                <li class="dropdown {{ listItemClasses }} {{ primaryNav.getListItemClasses(activeLeft, activeRight) }}">
                    <a href="{{ primaryNav.getLinkHref }}" target="{{ primaryNav.getLinkTarget }}"
                       class="dropdown-toggle" data-toggle="dropdown">
                        {{ primaryNav.title }} <span class="caret"></span>
                    </a>
                {% else %}
                    <li class="nav-item {{ listItemClasses }} {{ primaryNav.getListItemClasses(activeLeft, activeRight) }}">
                    <a href="{{ primaryNav.getLinkHref }}" target="{{ primaryNav.getLinkTarget }}">
                        {{ primaryNav.title }}
                    </a>
                {% endif %}
                {% if primaryNav.getChildCount and numberOfLevels > 1 %}
                    <ul class="{{ secondaryClasses }}">
                        {% for secondaryNav in primaryNav.getChildren %}
                            {% if secondaryNav.enabled %}
                                <li class="nav-item {{ listItemClasses }} {{ secondaryNav.getListItemClasses(activeLeft, activeRight) }}">
                                    <a href="{{ secondaryNav.getLinkHref }}" target="{{ secondaryNav.getLinkTarget }}">
                                        {{ secondaryNav.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
