[viewBag]

[extendedLocalePicker localepicker]

[menu headermenu]
start = "id-1"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[harassmapDomain]

[harassmapUserMenu]
==
<header class="header">
    <div class="header__bar domain--header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-3">
                    <div class="language">
                        {% component 'localepicker' %}
                    </div>
                </div>
                <div class="col-9">
                    <div class="priority-2 user-menu">
                        <a href="{{ 'report/incident' | page }}" class="priority-2 underline mr-4">
                            {{ 'Submit Report' | _ }}
                        </a>
                        {% component 'harassmapUserMenu' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <nav class="navbar navbar-toggleable-sm navbar-light">
            <button class="navbar-toggler navbar-toggler-right" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/">
                <img class="site-logo" alt="{{ domain.name }}" title="{{ domain.name }}"
                     src="{% if domain.headerLogo %}{{ domain.headerLogo.path }}{% else %}{{ 'assets/img/logo.svg' | theme }}{% endif %}"/>
                <div class="site-name">
                    <div class="name">
                        {% spaceless %}
                            <span class="namestart">{{ domain.name }}</span>
                            <span class="nameend">{{ domain.nameend }}</span>
                        {% endspaceless %}
                    </div>
                    <span class="tagline">{{ domain.tagline }}</span>
                </div>
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="main_nav">
                {% component 'headermenu' %}
            </div>
        </nav>
    </div>
</header>