[viewBag]

[harassmapLocalePicker localepicker]

[menu headermenu]
start = "main-menu"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[harassmapDomain]

[harassmapUserMenu]
==
<header class="header">
    <div class="header__bar domain--header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-3">
                    <div class="language">
                        {% component 'localepicker' %}
                    </div>
                </div>
                <div class="col-9">
                    <div class="priority-2 user-menu">
                        {% component 'harassmapUserMenu' %}
                    </div>
                    <a href="{{ 'report/incident' | page }}" class="priority-2 underline submit-report">{{ 'Submit Report' | _ }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <nav class="navbar navbar-toggleable-sm navbar-light">
            <button class="navbar-toggler navbar-toggler-right" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/">
                <img class="site-logo hidden-sm-down" alt="{{ domain.name }}" title="{{ domain.name }}"
                     src="{% if domain.desktopLogo %}{{ domain.desktopLogo }}{% else %}{{ 'assets/img/logo.svg' | theme }}{% endif %}"/>
                <img class="site-logo hidden-md-up" alt="{{ domain.name }}" title="{{ domain.name }}"
                     src="{% if domain.mobileLogo %}{{ domain.mobileLogo }}{% else %}{{ 'assets/img/logo.svg' | theme }}{% endif %}"/>
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="main_nav">
                {% component 'headermenu' %}
            </div>
        </nav>
    </div>
</header>