[viewBag]
==

<!-- Scripts -->
<script src="{{ [
'assets/vendor/jquery/jquery.js',
'assets/vendor/tether/tether.js',
'assets/vendor/bootstrap/bootstrap.js',
'assets/vendor/typeahead/typeahead.bundle.js',
'assets/vendor/jquery.timepicker.js',
'assets/vendor/jquery.FloatLabel.js',
'assets/vendor/jquery.serializejson.js',
'assets/vendor/readmore.js'
]|theme }}"></script>
<script src="{{ 'assets/js/app.js'|theme }}"></script>

{% framework extras %}

{% scripts %}

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-103600541-1', 'auto');
    ga('send', 'pageview');

</script>