@font-face {
  font-family: 'Frutiger';
  src: url('/themes/harassmap/assets/fonts/FrutigerLTArabic-55Roman.eot');
  src: url('/themes/harassmap/assets/fonts/FrutigerLTArabic-55Roman.eot?#iefix') format('embedded-opentype'),
  url('/themes/harassmap/assets/fonts/FrutigerLTArabic-55Roman.woff') format('woff'),
  url('/themes/harassmap/assets/fonts/FrutigerLTArabic-55Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger';
  src: url('/themes/harassmap/assets/fonts/FrutigerLTArabic-65Bold.eot');
  src: url('/themes/harassmap/assets/fonts/FrutigerLTArabic-65Bold.eot?#iefix') format('embedded-opentype'),
  url('/themes/harassmap/assets/fonts/FrutigerLTArabic-65Bold.woff') format('woff'),
  url('/themes/harassmap/assets/fonts/FrutigerLTArabic-65Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger';
  src: url('/themes/harassmap/assets/fonts/FrutigerLTArabic-75Black.eot');
  src: url('/themes/harassmap/assets/fonts/FrutigerLTArabic-75Black.eot?#iefix') format('embedded-opentype'),
  url('/themes/harassmap/assets/fonts/FrutigerLTArabic-75Black.woff') format('woff'),
  url('/themes/harassmap/assets/fonts/FrutigerLTArabic-75Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}