description = "Default layout"

[localePicker]
forceUrl = 0

[harassmapDomain]

[harassmapMailChimp]

[session]
security = "all"

[harassmapDomainContentBlock about]
id = "footer.about"
==
<!DOCTYPE html>
<html {% if activeLocale == 'ar' %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="HarassMap">

    <title>{{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">

    {% placeholder meta %}

    {% partial 'site/styles' %}
</head>
<body class="{{ activeLocale }}">

{% partial 'site/header' %}

<!-- Content -->
<div class="site-content">
    {% page %}
</div>

<footer class="footer bg--dark">
    <div class="container">
        <div class="row pb-4">
            <div class="col-12 col-md-5">
                <div class="footer__about">
                    <h6 class="priority-2">{{ 'About Us' | _ }}</h6>
                    {% component 'about' %}
                </div>
            </div>
            <div class="col-12 col-md-7 pt-4 pt-md-0">
                <div class="row">
                    <div class="col-8">
                        <h6 class="priority-2">{{ 'Stay Connected' | _ }}</h6>
                        <p>{{ 'Subscribe to our mailing list:' | _ }}</p>
                        {% component 'harassmapMailChimp' %}
                    </div>
                    <div class="col-4">
                        <img class="img-fluid" alt="{{ domain.name }}" title="{{ domain.name }}"
                             src="{% if domain.footerLogo %}{{ domain.footerLogo | media }}{% else %}{{ 'assets/img/logo-footer.svg' | theme }}{% endif %}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% partial 'site/footer' %}
</footer>

{% partial 'site/scripts' %}

</body>
</html>