description = "Default layout"

[staticPage]

[localePicker]
forceUrl = 0

[SeoCmsPage]

[SeoStaticPage]

[menu footermenu]
start = "id-3"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[harassmapDomain]

[mailSignup mailchimpsignup]
list = "de5e71e5b9"

[menu headermenu]
start = "id-1"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[extendedLocalePicker localepicker]

[session]
security = "all"
==
<!DOCTYPE html>
<html {% if activeLocale == 'ar' %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="HarassMap">

    {% component 'SeoCmsPage' %}
    {% component 'SeoStaticPage' %}

    <link href="https://fonts.googleapis.com/css?family=Harmattan|Merriweather:300,400,700|Open+Sans:600|Oswald:300,400,700|Roboto+Mono:300"
          rel="stylesheet">
    <link href="{{ 'assets/css/styles.css'|theme }}" rel="stylesheet">
    {% styles %}
</head>
<body class="{{ activeLocale }}">

<header class="header">
    <div class="header__bar">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="language">
                        {% component 'localepicker' %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="priority-2 user-menu">
                        {% if user %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {{ user.name }} {{ user.surname }} <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{{ 'user/dashboard' | page }}">
                                        {{ 'Dashboard' | _ }}
                                    </a>
                                    <a href="#" data-request="onLogout" data-request-data="redirect: '/'">
                                        {{ 'Sign out' | _ }}
                                    </a>
                                </li>
                            </ul>
                        {% else %}
                            <a href="{{ 'login' | page }}" class="priority-2">
                                {{ 'Login' | _ }}
                            </a>
                            /
                            <a href="{{ 'register' | page }}" class="priority-2">
                                {{ 'Register' | _ }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-toggleable-sm navbar-light">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="/">
                <img class="site-logo" alt="{{ domain.name }}" title="{{ domain.name }}"
                     src="{% if domain.headerLogo %}{{ domain.headerLogo.path }}{% else %}{{ 'assets/img/logo.svg' | theme }}{% endif %}"/>
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="main_nav">
                {% component 'headermenu' %}
            </div>
        </div>
    </nav>
</header>

<div id="ajax-errors">

</div>

<!-- Content -->
<div class="site-content">
    {% page %}
</div>

<footer class="footer">
    <div class="container">
        <div class="row pb-4">
            <div class="col-12 col-md-5">
                <div class="pr-5">
                    <h4 class="priority-2">{{ 'About Us' | _ }}</h4>
                    <p>{{ domain.about }}</p>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="col-8">
                        <h4 class="priority-2">{{ 'Stay Connected' | _ }}</h4>
                        <p>{{ 'Subscribe to our mailing list:' | _ }}</p>
                        {% component 'mailchimpsignup' %}
                    </div>
                    <div class="col-4">
                        <img class="img-fluid" alt="{{ domain.name }}" title="{{ domain.name }}"
                             src="{% if domain.footerLogo %}{{ domain.footerLogo.path }}{% else %}{{ 'assets/img/logo-footer.svg' | theme }}{% endif %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-contact">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4 class="priority-2 d-inline">{{ 'Contact Us' | _ }}</h4>
                    {% component 'footermenu' %}
                </div>
                <div class="col-12 col-md-6">
                    <div class="social-links pt-4 pt-md-0">
                        {% if domain.facebook %}
                            <a href="{{ domain.facebook }}" class="social social--facebook" target="_blank"
                               title="{{ 'Facebook' | _ }}">
                                <img class="img-fluid" src="{{ 'assets/img/icons/facebook.svg' | theme }}"
                                     alt="{{ 'Facebook' | _ }}">
                                <span class="sr-only">{{ 'Facebook' | _ }}</span>
                            </a>
                        {% endif %}
                        {% if domain.twitter %}
                            <a href="{{ domain.twitter }}" class="social social--twitter" target="_blank"
                               title="{{ 'Twitter' | _ }}">
                                <img class="img-fluid" src="{{ 'assets/img/icons/twitter.svg' | theme }}"
                                     alt="{{ 'Twitter' | _ }}">
                                <span class="sr-only">{{ 'Twitter' | _ }}</span>
                            </a>
                        {% endif %}
                        {% if domain.instagram %}
                            <a href="{{ domain.instagram }}" class="social social--instagram" target="_blank"
                               title="{{ 'Instagram' | _ }}">
                                <img class="img-fluid" src="{{ 'assets/img/icons/instagram.svg' | theme }}"
                                     alt="{{ 'Instagram' | _ }}">
                                <span class="sr-only">{{ 'Instagram' | _ }}</span>
                            </a>
                        {% endif %}
                        {% if domain.youtube %}
                            <a href="{{ domain.youtube }}" class="social social--youtube" target="_blank"
                               title="{{ 'YouTube' | _ }}">
                                <img class="img-fluid" src="{{ 'assets/img/icons/youtube.svg' | theme }}"
                                     alt="{{ 'YouTube' | _ }}">
                                <span class="sr-only">{{ 'YouTube' | _ }}</span>
                            </a>
                        {% endif %}
                        {% if domain.blogger %}
                            <a href="{{ domain.blogger }}" class="social social--blogger" target="_blank"
                               title="{{ 'Blogger' | _ }}">
                                <img class="img-fluid" src="{{ 'assets/img/icons/blogger.svg' | theme }}"
                                     alt="{{ 'Blogger' | _ }}">
                                <span class="sr-only">{{ 'Blogger' | _ }}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="{{ [
'assets/vendor/jquery/jquery.js',
'assets/vendor/tether/tether.js',
'assets/vendor/bootstrap/bootstrap.js',
'assets/vendor/typeahead/typeahead.bundle.js',
'assets/vendor/jquery.timepicker.js'
]|theme }}"></script>
<script src="{{ 'assets/js/app.js'|theme }}"></script>

{% framework extras %}

{% scripts %}
</body>
</html>