description = "Default layout"

[localePicker]
forceUrl = 0

[staticPage]

[harassmapDomain]

[mailSignup mailchimpsignup]
list = "de5e71e5b9"

[session]
security = "all"
==
<!DOCTYPE html>
<html {% if activeLocale == 'ar' %}dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="HarassMap">

    <title>{{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">

    <link href="https://fonts.googleapis.com/css?family=Harmattan|Merriweather:300,400,700|Open+Sans:600|Oswald:300,400,700|Roboto+Mono:300"
          rel="stylesheet">
    <link href="{{ 'assets/css/styles.css'|theme }}" rel="stylesheet">
    {% styles %}
</head>
<body class="{{ activeLocale }} static-content">

{% partial 'site/header' %}

{% set sidebar = false %}
{% if placeholder('column') %}
    {% set sidebar = true %}
{% endif %}

<!-- Content -->
<div class="site-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="hr">
                    <span class="hr__line"></span>
                    <span class="hr__text">{{ this.page.title }}</span>
                </h3>
            </div>
        </div>
        <div class="row">
            {% if sidebar %}
                <div class="col-12 col-md-4">
                    {% placeholder column title="Sidebar" %}
                </div>
            {% endif %}
            <div class="col-12 pl-md-5 pr-md-5 {% if sidebar %}col-md-8{% endif %}">
                {% page %}
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row pb-4">
            <div class="col-12 col-md-5">
                <div class="pr-5">
                    <h4 class="priority-2">{{ 'About Us' | _ }}</h4>
                    <p>{{ domain.about }}</p>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="col-8">
                        <h4 class="priority-2">{{ 'Stay Connected' | _ }}</h4>
                        <p>{{ 'Subscribe to our mailing list:' | _ }}</p>
                        {% component 'mailchimpsignup' %}
                    </div>
                    <div class="col-4">
                        <img class="img-fluid" alt="{{ domain.name }}" title="{{ domain.name }}"
                             src="{% if domain.footerLogo %}{{ domain.footerLogo.path }}{% else %}{{ 'assets/img/logo-footer.svg' | theme }}{% endif %}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% partial 'site/footer' %}
</footer>

{% partial 'site/scripts' %}
</body>
</html>