html {
  font-size: 16px;

  //@include media-breakpoint-up(md) {
  //  font-size: 14px;
  //}
  //
  //@include media-breakpoint-up(lg) {
  //  font-size: 16px;
  //}
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .site-content {
    flex: 1;
  }

  &.js {
    .js-hidden {
      display: none;
    }
  }
}