@import "../variables";

.bg--polar {
  background-color: $polar;
}

.bg--green {
  background-color: $green;
}

.sep--top {
  border-top: 1px solid $dusty-gray;
}

.border-md-right {
  @include media-breakpoint-up(md) {
    border-right: 1px solid $dusty-gray;

    .ar & {
      border-right: none;
      border-left: 1px solid $dusty-gray;
    }
  }
}