@import '../variables';
@import "rem";

input, select, textarea, .form-check-label, option {
  color: $tundora;
  font-family: $oswald;
  font-weight: $light;
  letter-spacing: 1px;
}

.select2-selection__rendered, .select2-results__option {
  color: $tundora;
  font-family: $oswald;
  font-weight: $light;
  letter-spacing: 1px;
}

.form-group {

  .form-check-label {
    @include rem((font-size: 16px));

    .ar & {
      @include rem((padding: 0 20px 0 0));
    }

    .form-check-input {

      .ar & {
        @include rem((margin-left: 0, margin-right: -20px));
      }

      @include media-breakpoint-down(sm) {
        @include rem((margin-right: 10px));

        .ar & {
          @include rem((margin-right: 0, margin-left: 10px));
        }
      }
    }
  }

  label {
    font-family: $merriweather;
    font-weight: $light;

    @include rem((font-size: 14px));
  }

  @include media-breakpoint-down(sm) {

    &.floating {
      label {
        display: none;
      }
    }

    label {
      @include rem((font-size: 18px));
    }

    input, textarea {
      @include rem((font-size: 18px));
    }

    select {
      @include rem((padding: 1px 9px));
    }

    .form-check-label {
      @include rem((font-size: 18px));
    }

  }
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
  height: auto;

  .select2-selection__rendered {
    font-family: $oswald;
    font-weight: $light;

    @include rem((font-size: 14px, padding: 4px 12px));
  }

}