@import '../variables';
@import "rem";

.table {
  margin-bottom: 0;

  &.table--bordered {
    border-color: $alto;
    border-bottom: none;
    border-top: none;

    th, td {
      border-color: $alto;
      border-bottom: none;
      border-top: none;
    }
  }

  thead {
    background-color: $light-gray;
  }

  th {
    color: $tundora;
    font-family: $oswald;
    font-weight: $light;
    text-transform: uppercase;

    @include rem((font-size: 20px));

    &.date {
      @include rem((width: 130px));
    }
  }

  td {
    font-family: $merriweather;
    font-weight: $light;

    @include rem((font-size: 14px));
  }

  .row-link {
    cursor: pointer;
  }

  .type {

    .icon {
      background: no-repeat center center;
      background-size: 100% 100%;
      display: block;

      margin: auto;
      @include rem((height: 25px, width: 25px));
    }

    .icon--intervention {
      background-image: url('/themes/harassmap/assets/img/map/intervention.svg');
    }

    .icon--incident {
      background-image: url('/themes/harassmap/assets/img/map/incident.svg');
    }

  }

}