{% if parentNode and parentNode.getChildCount %}
    <ul class="{{ primaryClasses }}">
        {% for primaryNav in parentNode.getChildren %}
            {% if primaryNav.enabled %}
                <li class="nav-item {{ listItemClasses }} {{ primaryNav.getListItemClasses(activeLeft, activeRight) }}">
                    <a href="{{ primaryNav.getLinkHref }}" target="{{ primaryNav.getLinkTarget }}">
                        {{ primaryNav.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
